# SQL seeding

## Import libraries and connect so mySQL

In [55]:
from sqlalchemy import create_engine, text
import pymysql
import pandas as pd
from dotenv import load_dotenv
import os

In [56]:
# Load environment variables
load_dotenv()
sql_password = os.getenv("sql_password")

In [57]:
# Tus parámetros de conexión
bd = "popatoms"
password = sql_password  # Asegúrate de reemplazar esto con tu contraseña real
connection_string = 'mysql+pymysql://root:' + password + '@localhost/' + bd
engine = create_engine(connection_string)

## Populate artist table

In [58]:
df_artists = pd.read_csv('sql_artist.csv') #, encoding='iso-8859-1',sep=';')

In [59]:
# Enviar DataFrame a MySQL
table_name = 'artist'
df_artists.to_sql(table_name, con=engine, if_exists='append', index=False)

608

## Populate chart table

In [60]:
chart = {'name': "'hot 100'", 
         "description": 'The week’s most popular current songs across all genres, ranked by streaming activity from digital music sources tracked by luminate, radio airplay audience impressions as measured by luminate and sales data as compiled by luminate.',
         "country": 'USA', 
         "frequency": 'week'}

df_chart = pd.DataFrame(chart, index=[1])

In [61]:
# Enviar DataFrame a MySQL
table_name = 'chart'
df_chart.to_sql(table_name, con=engine, if_exists='append', index=False)

1

## Populate chart_update table

In [62]:
chart_update = pd.read_csv('sql_chart_update.csv')

In [63]:
# Enviar DataFrame a MySQL
table_name = 'chart_update'
chart_update.to_sql(table_name, con=engine, if_exists='append', index=False)

687

## Populate track

In [64]:
track = pd.read_csv('sql_track.csv')

In [65]:
# Enviar DataFrame a MySQL
table_name = 'track'
track.to_sql(table_name, con=engine, if_exists='append', index=False)

913

## Populate chart entry

In [66]:
chart_entry = pd.read_csv('sql_chart_entry.csv')

In [68]:
# Enviar DataFrame a MySQL
table_name = 'chart_entry'
chart_entry.to_sql(table_name, con=engine, if_exists='append', index=False)

8528